body {
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    color: #343a40;
    font-size: 1.2vw;
}

#logo {
    font-size: 4vw;
    text-align: center;
    font-family: 'Ranchers', cursive;
    letter-spacing: 0.8vw;
    margin: 25px 0 25px 0;
}

.menu {
    font-size: 2vw;
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: #fe5f55;
}

.menu>li {
    display: inline-block;
    list-style: none;
    margin: 20px;
    border-right: solid 2px antiquewhite;
    padding-right: 3vh;
}

.menu>li:hover {
    opacity: 0.8;
}

.menu>li:first-child {
    border-left: solid 2px antiquewhite;
    padding-left: 3vh;
}

li>a {
    text-decoration: none;
    color: #faebd7;
}

li>a:hover {
    opacity: 0.8;
}

.categories {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.author__photo {
    width: 18vw;
    height: 25vh;
}

.author__photo:hover {
    opacity: 0.8;
}

.author {
    display: inline-block;
    padding: 0 30px 0 30px;
}

h1 {
    margin-top: 30px;
    padding-top: 25px;
    font-size: 1.9vw;
    text-align: center;
}

.categories__description {
    padding: 0 15px 0 60px;
}

figcaption {
    text-align: center;
    padding-top: 15px;
}

#newest {
    width: 100%;
}

.entries {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.entry {
    width: 100%;
    margin: 20px auto 20px auto;
    background-color: #e5e5e5;
    display: inline-block;
    height: 200px;
}

.entry:hover {
    opacity: 0.8;
}

.entry__img {
    float: left;
    margin: 20px;
}

h2 {
    font-size: 23px;
    padding-top: 15px;
    color: #b1372f;
}

.entry__txt>p {
    font-size: 15px;
    padding: 0 60px 0 0;
    text-justify: auto;
}

.img__blog {
    width: 120px;
    height: 150px;
}

.contact__me>p {
    font-size: 20px;
    text-align: center;
    text-justify: auto;
}

.contact {
    background-color: #63838a;
    margin-bottom: 0;
    padding-bottom: 60px;
}

.cat {
    background-color: #e5e5e5;
}